.conda/
__pycache__/
*.py[cod]

.venv/
venv/

stage/.env
stage/db.sqlite3
stage/.dbg/
stage/media/

stage/frontend/node_modules/
stage/frontend/.angular/
stage/frontend/dist/

monitoring/mlflow/data/
monitoring/mlflow/artifacts/

*.log
Thumbs.db
.DS_Store

*.bak
