DJANGO_SECRET_KEY=replace-me
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,host.docker.internal
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:4200,http://localhost:4200

# Database backend: sqlserver or sqlite
DB_ENGINE=sqlserver

# SQL Server connection
MSSQL_NAME=stage_db
MSSQL_HOST=HEDIRE\MSSQLSERVER05
MSSQL_PORT=1433
MSSQL_DRIVER=ODBC Driver 18 for SQL Server
MSSQL_TRUSTED_CONNECTION=yes
MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_ENCRYPT=yes
MSSQL_TRUST_SERVER_CERTIFICATE=yes
MSSQL_CONNECTION_TIMEOUT=30
MSSQL_CONN_MAX_AGE=300

# Email
GMAIL_USER=
GMAIL_APP_PASSWORD=
